{% extends "shop/base.html" %}
{% load static %}

{% block title %}Cart details{% endblock %}

{% block content %}
    <h1 style="margin-left: 80px;">Your shopping cart</h1>
    <br>
    <table class="cart">
      <thead>
        <tr>
          <th>Image</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Remove</th>
          <th>Unit price</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        {% for item in cart %}
          {% with product=item.product %}
            <tr>
              <td>
                <a href="{% url 'product_detail' product.id %}">
                  <img src="{% if product.image %}{{ product.image.url }}
                  {% else %}{% static 'img/no_image.png' %}{% endif %}">
                </a>
              </td>
              <td>{{ product.name }}</td>
              <td>{{ item.quantity }}</td>
              <td>
                <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                  <input type="submit" value="Remove">
                  {% csrf_token %}
                </form>
              </td>
              <td class="num">{{ item.price }} zł</td>
              <td class="num">{{ item.total_price }} zł</td>
            </tr>
          {% endwith %}
        {% endfor %}
        <tr class="total">
          <td>Total</td>
          <td colspan="4"></td>
          <td class="num">${{ cart.get_total_price }}</td>
        </tr>
      </tbody>
    </table>
    <p class="text-right" style="margin-left: 80px;">
      <a href="{% url 'products' %}" class="button  light">Continue shopping</a>
      <a href="{% url 'orders:create_order' %}" class="button">Checkout</a>
    </p>
{% endblock %}
