{% extends "shop/base.html" %}
{% load static %}

{% block title %}O nas{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <h1 style="font-family: 'Brush Script MT', cursive; font-size: 100px;">Witaj </h1>
        <p>..................................................................................</p>
        <p>..................................................................................</p>
        <p>..................................................................................</p>
        <p>..................................................................................</p>
        <p>..................................................................................</p>
        <p>..................................................................................</p>

    </div>
{% endblock %}