{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Produkty{% endif %}
{% endblock %}


{% block content %}
    <h1 style="margin-left: 93px;">Zamówienia </h1>
    <table class="cart">
      <thead>
        <tr>
          <th>Id</th>
          <th>Imię</th>
          <th>Nazwisko</th>
          <th>Całkowita kwota</th>
          <th>Status</th>
          <th>Utworzone</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
            <tr>
              <td><a href="{% url 'orders:order_detail' order.id %}">{{ order.id }}</a></td>
              <td>{{ order.first_name }}</td>
              <td>{{ order.last_name }}</td>
              <td>{{ order.get_total_cost }}</td>
              <td>{{ order.get_status_display }}</td>
              <td >{{ order.created }}</td>
            </tr>
        {% endfor %}

      </tbody>
    </table>
{% endblock %}
