{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}


{% block content %}
    <div class="sidebar">
        <h1>Categories</h1>
        <ul>
            <li {% if not category %}class="selected"{% endif %} style="margin-top:30px;">
                <a href="{% url 'products'  %}">All</a>
            </li>
        {% for c in categories %}
            <li {% if category.id == c.id %}class="selected"{% endif %}>
                <a href="{% url 'products_by_category' c.id %}">{{ c.name }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="product-list">
        <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
        {% if user.is_authenticated %}
            <div class="dropdown">
              <button class="dropbtn">Sort by</button>
              <div class="dropdown-content">
                <a href="{% url 'products_all' 1 %}">A-Z</a>
                <a href="{% url 'products_all' 2 %}">Z-A</a>
                <a href="{% url 'products_all' 3 %}">Lowest Price</a>
                <a href="{% url 'products_all' 4 %}">Highest Price</a>
              </div>
            </div>
        {% else %}
        <div class="dropdown">
          <button class="dropbtn">Sort by</button>
          <div class="dropdown-content">
            <a href="{% url 'products' 1 %}">A-Z</a>
            <a href="{% url 'products' 2 %}">Z-A</a>
            <a href="{% url 'products' 3 %}">Lowest Price</a>
            <a href="{% url 'products' 4 %}">Highest Price</a>
          </div>
        </div>
        {% endif %}
        <br><br>
        {% for product in products %}
            <div class="item">
                <p><a href="{% url 'product_detail' product.id %}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                </a></p>
                <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a><br>
                {{ product.price }} zł
            </div>
        {% endfor %}

    </div>
{% endblock %}